
body {
    font-family: Arial, sans-serif;
    
    background-image: url('https://cdn.meutimao.com.br/fotos-do-corinthians/w941/2019/08/29/torcida_do_corinthians_sempre_faz_belas_festas_x.jpg');
    background-repeat: repeat-x repeat-y; 
    
}


