* {
    padding: 0;
    margin: 0;
}
body {
    margin: 0;
    padding: 0;
    color: #3b3b32;
    background-color: #dac998; /* Cor de fundo do corpo da página */
    line-height: 1.7;
}


#sobre {
    margin-top: -3%;
}
#bando {
    margin-top: 15%; /* Ajuste para subir a seção */
}


h1 {
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    padding-left: 130px; /* Ajuste o valor conforme necessário */
}


.descrição-de-texto {
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    padding-left: 130px; /* Ajuste o valor conforme necessário */
   
}


p {
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    padding-left: 130px; /* Ajuste o valor conforme necessário */
   
}


img {
    padding-left: 130px; /* Ajuste o valor conforme necessário */
}


iframe {
    padding-left: 300px; /* Ajuste o valor conforme necessário */
}


.paragrafo-posicionado {
    position: relative;
    top: -232px; /* Deslocamento para baixo em relação à sua posição normal */
    left: 260px; /* Deslocamento para a direita em relação à sua posição normal */
}


.posicionamento-do-titulo {
    top: -10px; /* Deslocamento para baixo em relação à sua posição normal */
    left: 140px; /* Deslocamento para a direita em relação à sua posição normal */
}


.posicionamento-imagem{
    margin-top: 50px;
}
.container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    font-size: 10px;
}


header {
    background-image: url('https://cdn.gourmet.ome.lt/static/images/DESKTOP-OP-_CAPA_v2-min.width-1920.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 900px;
    margin: 0;
    padding: 1px;
    margin-right: 10px;
}


nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
}


nav ul li {
    display: inline;
    margin: 0 15px;
}


#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000; /* Azul Claro (Seleção Argentina) */
    color: #000000; /* Branco */
    padding: 20px;
    width: 200px;
    border-radius: 12px;
    height: 100%; /* Ajustando a altura para 100% */
    z-index: 1000;
    box-sizing: border-box; /* Adicionando box-sizing para incluir padding na largura total */
    transition: left 0.3s ease; /* Adicionando transição suave */
}


#sidebar ul {
    list-style-type: none;
    padding: 0;
}


#sidebar ul li {
    margin: 10px 0;
}


#sidebar ul li a {
    color: #ffffff; /* Preto */
    text-decoration: none;
    font-size: 18px;
}


#sidebar ul li a:hover {
    color: #570b0b; /* Branco */
}


#hover-area {
    position: fixed;
    top: 0;
    left: 0;
    width: 20px;
    height: 100%;
    z-index: 999; /* Garantir que a área de hover esteja acima de outros elementos */
    cursor: pointer;
}


nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}


nav ul li a:hover {
    text-decoration: underline;
}


#tituloinicial {
    font-size: 70px;
    color: #000000;
    margin-top: -2%;
    padding-left: 3px; /* Ajuste o valor conforme necessário */
}


#onepiece {
    color: red;
    font-size: 75px;
    padding-left: 3px; /* Ajuste o valor conforme necessário */
}


.image-container img {
    width: 100%;
    height: 100px; /* ajuste a altura conforme necessário */
    object-fit: cover; /* manter a proporção e cobrir a área */
    border-radius: 8px;
    margin-bottom: 20px;
}                  


/* Subir o título "BANDO" */
#bando h1 {
    margin-top: 0;
    padding-left: 10%;
    padding-left: 130px; /* Ajuste o valor conforme necessário */
   
}


/* Ajustar margens das imagens e parágrafos no "BANDO" */
#bando img {
    margin-bottom: 10px;
    margin-top: 10px;
    display: block;
    padding-left: 130px; /* Ajuste o valor conforme necessário */


}


#bando p.paragrafo-posicionado {
    margin-top: 35px; /* Ajuste adicional para diminuir espaço */
    margin-bottom: 5px; /* Ajuste adicional para diminuir espaço */
}

