*{
    margin:0;
    padding: 0;
    box-sizing: border-box; 
}
body{
    background-color: #fff;


}

/*#faf5c9*/

.topo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    color: #f8c395;
    position: relative;
    top:50px;
    text-align: center;
}

.caixatopo{
    width: 100%;
    height: 250px;
    background-image: url(img/herecomesthecowboy.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}.container{
    max-width: 80%;
    margin: 0 auto;
    
}

.container1{
    max-width: 60%;
    margin: 0 5%;
}

.container2{
    max-width: 60%;
    margin: 0 5%;
    display: inline-block;
}








form{
    background-color: #d4d4d4;
    max-width: 100%;
    height: 80px;
    border-radius: 20px; 
    display: flex;
    justify-content: space-between;
}
form a {
    margin: 0;
}







/* ancoras */

.links{
    display: inline-block;
    margin-top: 10px;
    padding: 10px 5px; /* Espaçamento interno para aumentar a área clicável */
    font-size: 10px; /* Tamanho da fonte do texto do botão */
    font-weight: bold; /* Texto em negrito */
    color: #fff; /* Cor do texto */
    background-color: #a8a7a7; /* Cor de fundo */
    border: none; /* Remover borda padrão */
    border-radius: 10px; /* Bordas arredondadas */
    text-align: center; /* Centralizar texto */
    text-decoration: none; /* Remover sublinhado */
    cursor: pointer; /* Alterar cursor para pointer */
    transition: background-color 0.3s ease; /* Animação suave na mudança de cor de fundo */
    width: 150px; /* Defina o tamanho desejado */
    height: 60px; /* Defina o tamanho desejado */
    line-height: 40px; /* Centraliza verticalmente o texto */
    text-align: center; /* Centraliza horizontalmente o texto */
}
.links:hover {
    background-color: #7a7a7a; /* Cor de fundo ao passar o mouse */
}








.ancoras{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    position: relative;
    text-align: center;
}










.p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    align-items: right;
    background-color: #d4d4d4;
    border-radius: 10px;
}
.p1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 10px;
    display: inline-block;
    align-items: center;
    bottom:4px;
    line-height: 50px;
    margin-top: 10px;
    padding: 20px 10px;
    
}


.audio{
    position: relative;
    align-items: center;
    display: inline-block;
    margin-top: 10px;

}

.image{
    border-radius: 20px;
    position: relative;
    right: 5%;
}

.image2{
    border-radius: 20px;
    position: relative;
    
}

footer{
    background-color: #222;
    color:#fff;
    text-align: center;
    padding: 15px 0;
    position: fixed;
    bottom:0;
    width: 100%;
}

#back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #333;
    color: #fff;
    padding: 30px;
    border-radius: 100%;
    text-decoration: none;
    display: none;
}